body {
  background-color: #1f1f1f; /* Dark gray */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

h1 {
  color: #f0f0f0; /* Light gray */
  font-size: 36px;
}

.score-cont {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  gap: 50px;
}

.player1 p,
.player2 p {
  color: #f0f0f0; /* Light gray */
  font-size: 24px;
  margin: 0;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: #212121; /* Dark gray */
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b; /* Dark gray */
  color: #f0f0f0; /* Light gray */
  font-size: 36px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #3d3d3d; /* Dark gray */
}

.restart {
  background-color: #212121; /* Dark gray */
  color: #f0f0f0; /* Light gray */
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart:hover {
  background-color: #3d3d3d; /* Dark gray */
}
